.bio-card {
  position: relative;
  height: 100%;
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.4);
}

.glass-panel {
  background-color: var(--glass-background-color);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.4);
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color-muted);
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to top, black 0%, transparent 80%);
  }
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: var(--text-color);
}

.social-links {
  position: relative;

  a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.full-name {
  background-color: var(--p-primary-color);
}
