.bio-card {
  background-color: var(--surface-bg-color);
  overflow: hidden;
  section.container {
    position: relative;
  }
}

.profile-image {
  position: relative;
  border: 1px solid var(--border-color);
  overflow: hidden;

  .theme-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    &.visible {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
  }
}

.title {
  border: 1px solid var(--border-color);
  background-color: var(--p-surface-900);
  color: var(--p-surface-300);
}

.short-description {
  border-left: 3px solid var(--p-primary-color);
  background-color: var(--p-surface-900);
}

.icon-wrapper {
  background-color: var(--p-surface-800);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .download-wrapper {
    button {
      background-color: var(--bg-color-inverse);
      color: var(--text-color-inverse);
      transition: 0.4s;

      &:hover {
        background-color: var(--p-primary-color);
        color: var(--text-color);
      }
    }
  }

  .social-links {
    a {
      border: 1px solid var(--border-color);
      background-color: var(--p-surface-800);
      transition: 0.4s;

      svg {
        fill: var(--p-surface-300);
      }

      &:hover {
        background-color: var(--p-surface-700);
      }
    }
  }
}
