.bio-card {
  background-color: var(--sidebar-bg-color);
  position: relative;

  ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;

    background: linear-gradient(
      to bottom,
      rgba(255, 107, 107, 0.5) 0%,
      transparent 10%
    );

    /* CRITICAL: Allows clicks to pass through the gradient to links/buttons below */
    pointer-events: none;

    z-index: 1; /* Sit on top of content */
  }
}

.profile-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.social-links {
  position: relative;

  a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.full-name {
  background-color: var(--p-primary-color);
}
