<div class="bio-card h-full px-12 py-16" appSpotlight [spotlightRadius]="300">
  <div class="profile-image rounded-2xl overflow-hidden">
    <img [src]="store.profile()?.picture" [alt]="store.fullName()" />
  </div>
  <div class="content mt-6">
    <h1 class="text-5xl font-extrabold mb-4 full-name ps-2">
      {{ store.fullName()}}
    </h1>
    <div class="flex items-center">
      <span class="material-symbols-outlined text-secondary"> enterprise </span>
      <h4 class="text-2xl font-medium ms-2">{{ store.profile()?.title }}</h4>
    </div>
    <div class="flex items-center mb-4">
      <span class="material-symbols-outlined text-secondary">
        location_on
      </span>
      <span class="ms-2 text-xl"
        >{{store.profile()?.address.city + ', ' +
        store.profile()?.address.country}}</span
      >
    </div>
    <p class="md-4 text-secondary text-xl">{{ store.profile()?.bio}}</p>
    <div class="glass-panel p-4 rounded-3xl mt-4">
      <div class="flex items-center mt-1 text-primary">
        <span class="material-symbols-outlined"> email </span>
        <a class="ms-2" [href]="'mailto:' + store.profile()?.email"
          >{{ store.profile()?.email }}</a
        >
      </div>
    </div>
    <div
      class="social-links flex items-center gap-4 text-sm mt-4 text-secondary"
    >
      <div class="flex items-center">
        <span class="material-symbols-outlined text-secondary"> link </span>
        <a
          class="ms-2"
          [href]="store.profile()?.socials.github.url"
          target="_blank"
          >Github</a
        >
      </div>
      <div class="flex items-center">
        <span class="material-symbols-outlined text-secondary"> link </span>
        <a
          class="ms-2"
          [href]="store.profile()?.socials.linkedin.url"
          target="_blank"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
