aside.left {
  width: 20%;
  height: 100vh;
  border-right: 1px solid var(--border-color);
}

section.right {
  width: 80%;

  header {
    height: 8rem;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}