header {
  border: 1px solid var(--border-color);
  background-color: var(--p-surface-900);
  color: var(--p-surface-300);
}

::ng-deep {
  div.markdown-content {
    p {
      font-size: 1.5rem !important;
    }
  }
}

.about-me {
  background-color: var(--p-surface-900);
}