<section class="about-me p-8 rounded-2xl">
  <header
    class="flex items-center gap-2 mb-6 rounded-md text-primary"
  >
    <span class="material-symbols-outlined">folder</span>
    <p class="text-primary text-lg tracking-widest font-medium">
      {{ title() }} / README.md
    </p>
  </header>
  <h1 class="text-6xl font-extrabold mb-2">About Me</h1>
  <h3 class="text-3xl text-secondary font-bold">
    React & Angular Specialist | Automation Expert 
  </h3>
  <div class="markdown-content mt-12">
    <div [innerHTML]="renderedAboutMe()"></div>
  </div>
</section>
