.experience {
  background-color: var(--surface-bg-color);
  width: 70%;
}

.badge {
  border: 1px solid var(--p-primary-color);
}

.image-wrapper {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skill-item {
  background-color: var(--p-surface-800);
}

section.middle {
  .role {
    border-left: 3px solid var(--p-surface-700);
  }
}
