.bar-wrapper {
  width: 100%;
}

.bar-container {
  display: flex;
  height: 5px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.bar-segment {
  height: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}