@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
/* @plugin '@tailwindcss/typography'; */

/* You can add global styles to this file, and also import other style files */

html {
  --bg-color-2: var(--color-zinc-300);
  --text-color: var(--color-neutral-950);
  --text-secondary-color: var(--color-neutral-600);
  --border-color: var(--color-neutral-300);
  --card-surface-bg-color: var(--color-stone-200);
  --bg-color: var(--color-neutral-50);
  --bg-color-muted: var(--color-neutral-200);
  --card-shadow-color: rgba(0, 0, 0, 0.2);
  --card-border-color: rgba(0, 0, 0, 0.1);
  --bio-gradient-color: var(--color-neutral-50);
  --chip-border-color: var(--border-color);

  /* --spotlight-color: transparent; */
  --spotlight-highlight-color: var(--color-rose-300);

  --spotlight-color-start: rgba(0, 0, 0, 0.06);
  --spotlight-color-end: rgba(255, 255, 255, 0.1);
  --glass-border-color: var(--color-zinc-100);
  --glass-background-color: rgba(255, 255, 255, 0.0005);

  &.app-dark-theme {
    --bg-color-2: var(--color-zinc-800);
    --text-color: var(--color-neutral-50);
    --bg-color: var(--color-neutral-950);
    --bg-color-muted: var(--color-neutral-700);
    --border-color: var(--color-neutral-700);
    --card-surface-bg-color: var(--color-zinc-900);
    --text-secondary-color: var(--color-neutral-300);
    --spotlight-highlight-color: var(--color-rose-700);
    --card-shadow-color: rgba(0, 0, 0, 0.4);
    --card-border-color: rgba(255, 255, 255, 0.2);
    --bio-gradient-color: var(--color-neutral-950);
    --spotlight-color-start: rgba(255, 255, 255, 0.1);
    --spotlight-color-end: rgba(0, 0, 0, 0.01);
    --glass-border-color: var(--color-zinc-700);
    --glass-background-color: rgba(0, 0, 0, 0.0005);
  }
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
  padding: 0 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.card {
  background-color: var(--card-surface-bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
}

.text-secondary {
  color: var(--text-secondary-color);
}

.material-symbols-outlined {
  font-size: 1rem;
}
