body {
  font-family: Inter;
  font-size: 16px;
  background-color: var(--bg-color);
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  overflow: hidden;
}

.text-secondary {
  color: var(--text-secondary-color);
}

.text-default {
  color: var(--text-color);
}

.material-symbols-outlined {
  font-size: 1rem;
}

*::selection {
  background: var(--p-primary-color);
  color: var(--p-text-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
}
