* {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  font-size: 16px;
  background-color: var(--bg-color);
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  overflow: hidden;
}

.text-secondary {
  color: var(--text-secondary-color);
}

.text-default {
  color: var(--text-color);
}

.faded-separator {
  border: 0;

  height: 1px;

  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--p-primary-color),
    rgba(0, 0, 0, 0)
  );

  width: 100%;
  margin: 1.5rem 0;
}

*::selection {
  background: var(--p-primary-color);
  color: var(--p-text-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--p-surface-700);
}
