.experience-wrapper:last-child .timeline {
  display: none;
}

header {
  button {
    background-color: var(--p-primary-500);
    transition: 0.4s;

    &:hover {
      background-color: var(--p-primary-400);
    }
  }
}
