:host {
  display: block;
}

.project-card {
  overflow: hidden;
  &.grid {
    min-height: 25rem;
  }
}

.hero-image,
.placeholder-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.chip {
  border: 1px solid var(--chip-border-color);
}

.skill {
  border-color: var(--border-color) !important;
  background-color: var(--bg-color-2);
}
