:host {
  display: block;
}

.project-card {
  background-color: var(--p-surface-900);
  border: 1px solid var(--border-color);

  &:hover {
    .hero-image {
      transform: scale(1.05);
      transition: transform 0.4s ease;
    }
  }
}

.hero-image,
.placeholder-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.chip {
  border: 1px solid var(--chip-border-color);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
}

.skill-item {
  background-color: var(--p-surface-800);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;

  button {
    background-color: color-mix(in srgb, var(--p-surface-700), 30%);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--p-primary-color);
    color: var(--text-color-inverse);
  }
}
