<div
  class="project-card rounded-xl overflow-hidden cursor-pointer h-full"
  appSpotlight
  [spotlightRadius]="300"
  [ngClass]="view()"
  [routerLink]="['/projects', project().id]"
>
  @if (view() === 'grid') {
  <div class="image-wrapper relative overflow-hidden h-full">
    <img
      [src]="project().imageUrl"
      [alt]="project().title"
      class="hero-image w-full h-full"
    />
    @if(hovered()) {
    <div class="overlay absolute flex items-center justify-center">
      <button
        class="px-6 py-2 rounded-4xl font-medium text-lg cursor-pointer text-default"
      >
        View Details
      </button>
    </div>
    }
  </div>
  }

  <div class="grow flex-column align-end p-6 pt-8">
    <header class="flex items-center gap-4 mb-2">
      <h1 class="font-bold text-2xl" [class.text-primary]="hovered()">
        {{ project().title }}
      </h1>
      <div class="chip flex items-center rounded-full px-2 py-1 text-sm">
        {{visibilityText()}}
      </div>
    </header>
    <p class="text-secondary mb-4 text-xl description">
      {{ project().shortDescription }}
    </p>
    @if (view() === 'grid') {
    <ng-container [ngTemplateOutlet]="skills"></ng-container>
    }
    <div class="card-footer flex items-center gap-2 mt-4">
      <section class="left">
        @if (view() !== 'grid') {
        <ng-container [ngTemplateOutlet]="skills"></ng-container>
        }
      </section>
    </div>
  </div>
</div>

<ng-template #skills>
  <div class="skills flex flex-wrap gap-2">
    @for(technology of project().technologies.slice(0, 4); track technology) {
    <div
      class="skill-item uppercase text-secondary rounded-md text-sm font-semibold px-2 py-1"
    >
      {{ technology }}
    </div>
    }
  </div>
</ng-template>
