:host {
  display: block;
}

.project-card {
  background-color: var(--p-surface-900);
  border: 1px solid var(--border-color);

  &:hover {
    .hero-image {
      transform: scale(1.05);
      transition: transform 0.4s ease;
    }
  }
}

.hero-image,
.placeholder-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.chip {
  border: 2px solid var(--border-color);
  background-color: var(--p-surface-700);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
}

.skill-item {
  background-color: var(--p-surface-800);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;

  button {
    background-color: var(--p-surface-300);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: var(--text-color-inverse);
  }
}
