<div class="welcome-banner">
  <h1 class="text-7xl md:text-9xl font-extrabold" [innerHTML]="heroText()"></h1>
  <p class="text-3xl mt-8 font-medium text-secondary">
    Hi, I'm <span class="text-default">{{ store.profile().firstName }}</span>. I leverage
    <span class="text-default">{{store.totalExperience().years}}+</span> years
    of full-stack mastery in Angular, React, NodeJS and AI to build intelligent
    web solutions that scale.
  </p>
  <div class="actions mt-12 flex items-center gap-8">
    <button
      class="text-xl font-bold px-8 py-6 primary flex items-center gap-2"
      routerLink="/projects"
    >
      <span>View My Work</span>
      <i class="material-symbols-outlined">arrow_forward</i>
    </button>
    <button
      class="text-xl font-bold px-8 py-6 secondary flex items-center gap-2"
      (click)="store.downloadResume()"
    >
      <i class="material-symbols-outlined">lightbulb</i>
      <span class="me-2">About Me</span>
    </button>
  </div>
</div>
