<div class="welcome-banner">
  <h1 class="text-7xl md:text-9xl font-extrabold">
    Building digital <span class="highlight">experiences</span> that matter.
  </h1>
  <p class="text-3xl mt-8 font-medium text-secondary">
    Hi, I'm <span class="text-default">Debanjan</span>. I specialize in
    architecting robust backend systems and crafting intuitive, pixel-perfect
    frontend interfaces. Currently driving innovation at FICO.
  </p>
  <div class="actions mt-12 flex items-center gap-8">
    <button
      class="text-xl font-bold px-8 py-6 primary flex items-center gap-2"
      routerLink="/projects"
    >
      <span>View My Work</span>
      <i class="material-symbols-outlined">arrow_forward</i>
    </button>
    <button
      class="text-xl font-bold px-8 py-6 secondary flex items-center gap-2"
    >
      <i class="material-symbols-outlined">download</i>
      <span class="me-2">Download Resume</span>
    </button>
  </div>
</div>
